:root{
    --left:hsl(291, 13%, 58%);
    --right:hsl(229, 15%, 50%);
}
*{margin: 0; padding: 0; box-sizing: border-box;}
.Mycontainer{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 90%;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    background-color: rgb(83, 92, 89);
    gap: 1rem;
}
.content{
    display: flex;
    flex-direction: column;
}
header{
    height: 600px;
    background-image: linear-gradient(var(--left), var(--right));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 2rem;
}
iframe{
height: 100%;
width: 100vh;
border-radius: 30px;
box-shadow: 0 0 10px 2px hsl(184, 29%, 63%);
}

header h1{
    text-shadow:  2px 2px 10px black;
}

@media (max-width:1000px){
    iframe
    {
        display:none ;
    }
    header h1
    {
        font-size: 3rem;
    }
}